<div class="row">
    <div class="col-md-12">
        {{#if kind}}<h1 class="page-title">{{kind}} {{file.name}}</h1>{{/if}}

        {{#each posts}}
        <div class="post-wrapper">
            <h2 class="post-title">
                <a href="/blog/{{alias}}" rel="浏览全文'{{title}}'">{{title}}</a>
            </h2>
            <div class="post-content">
                <p>{{summary}} <a class="btn btn-primary btn-xs" href="/blog/{{alias}}" rel="浏览全文'{{title}}'">浏览全文</a></p>
            </div>
            <div class="post-tag">
                <span><i class="fa fa-calendar-o"></i>{{year}}-{{day}}</span>
                {{#if topics}}
                <span>
                    <i class="fa fa-files-o"></i>分类:
                    {{#each topics}}
                    <a href="/topics/{{this}}">{{this}}</a>
                    {{/each}}
                </span>
                {{/if}}
                {{#if tags}}
                <span>
                    <i class="fa fa-tags"></i>标签:
                    {{#each tags}}
                    <a href="/tags/{{this}}">{{this}}</a>
                    {{/each}}
                </span>
                {{/if}}
            </div>
        </div>
        {{/each}}

        {{#unless posts}}
            <h2>当前{{kind}}没有找到文章哦</h2> 
        {{/unless}}

        <div class="post-pagination clearfix">
            {{#if relatePage.notFirstPage}}
                <a href="{{relatePage.action}}?page={{relatePage.prePage}}" class="btn btn-primary btn-xs fl wq-ml-10"><span class="fui-triangle-up-small"></span>更新的文章</a>
            {{/if}}

            {{#if relatePage.notLastPage}}
                <a href="{{relatePage.action}}?page={{relatePage.nextPage}}" class="btn btn-primary btn-xs fr wq-mr-10">之前的文章<span class="fui-triangle-down-small"></span></a>
            {{/if}}
        </div>
    </div>
</div>
