<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/end">首页</a></li>
            <li class="active">{{title}}</li>
        </ol>
        <h1 class="page-title">{{title}}</h1>
        {{#each piclist}}
        <h2 class="sub-title">{{name}}</h2>
        <div class="col-sm-12">
            {{#each files}}
            <div class="col-sm-4">
                <div class="wq-archives-year">
                    <img src="{{name}}">
                    <p class="wq-archives-content">{{name}}</p>
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
</div>

