<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/end">首页</a></li>
            <li>文字</li>
            <li class="active">{{title}}</li>
        </ol>

        <!--面板-->
        <h1 class="page-title">{{title}}</h1>

        {{#each topics}}
        <div class="panel panel-default">
            <div class="panel-heading">{{name}}<a class="fui-cross" href="/end/topicdel/{{_id}}"></a></div>
            <div class="panel-body">
                <h4>{{title}}</h4>
                {{#each content}}
                <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
        {{/each}}

        <form method="post" action="/end/topicadd">
            <input name="name" type="text" class="form-control" placeholder="name" />
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="添加"/>
        </form>

    </div>
</div>

<script>

</script>

