<div class="row">
    <div class="col-md-12">
        <h1 class="page-title">分类列表:<span>{{file.name}}</span></h1>

        {{#each posts}}
        <div class="post-wrapper">
            <h2 class="post-title">
                <a href="/blog/{{alias}}" rel="浏览全文'{{title}}'">{{title}}</a>
            </h2>
            <div class="post-content">
                <p>{{summary}} <a class="btn btn-primary btn-xs" href="/blog/{{alias}}" rel="浏览全文'{{title}}'">浏览全文</a></p>
            </div>
            <div class="post-tag">
                <span><i class="fa fa-calendar-o"></i>{{year}}-{{day}}</span>
                <span>
                    <i class="fa fa-files-o"></i>分类:
                    {{#each topics}}
                    <a href="/topics/{{this}}">{{this}}</a>
                    {{/each}}
                </span>
                <span>
                    <i class="fa fa-tags"></i>标签:
                    {{#each tags}}
                    <a href="/tags/{{this}}">{{this}}</a>
                    {{/each}}
                </span>
            </div>
        </div>
        {{/each}}

        <div class="post-pagination">
            <a class="btn btn-primary" href="/blog">浏览更多文章</a>
        </div>

    </div>
</div>
