<div class="row">
    <div class="col-md-12">
        <h1 class="page-title">分类列表:<span>{{file.name}}</span></h1>
    </div>
</div>
<div class="row">
    {{#each posts}}
    <div class="col-md-12 post-wrapper">
        <h2 class="post-title">
            <a href="/post/{{_id}}" rel="阅读全文'{{title}}'">{{title}}</a>
        </h2>
        <div class="post-content">
            <p>{{content}}</p>
        </div>
        <div class="post-tag">
            <span><i class="fa fa-calendar-o"></i>{{year}}-{{day}}</span>
            <span>
                <i class="fa fa-files-o"></i>分类:
                {{#each topics}}
                <a href="/topics/{{name}}">{{name}}</a>
                {{/each}}
            </span>
            <span>
                <i class="fa fa-tags"></i>标签:
                {{#each tags}}
                <a href="/tags/{{name}}">{{name}}</a>
                 
                {{/each}}
            </span>
        </div>
    </div>
    {{/each}}
</div>
